# Homework 01 - Numeric Types

### What is the difference between a float and an int

#### Answer
Float values have decimal part attached with them for example 1.01, 99.990, etc. While int values do not have fraction part for example 1, 9, etc.

### Make the output of the folowing line equal to 149 only by manipulating the order of operations

In [ ]:
#no question

#### Answer

### Cause the following line to produce a float but still have the same result 

without using float(value)

In [ ]:
5 + 7

#### Answer

In [12]:
a = 5 + 7
a = float(a)
print(a)

12.0

### Make it so the below statement prints an int instead of a float

In [ ]:
a = 4.5 +7.5
print(a)

#### Answer

In [1]:
a = 4.5 + 7.5
a = int(a)
print(a)

12

### Fix the below code so you get the right result for a+b+c

In [ ]:
a = 4
b = 10
C = 5

a + b + c

#### Answer

In [4]:
a = 4
b = 10
C = 5

result = (a + b + C)
print(result)

19

### Write code below to calculate the remainder after dividing 55 by 7

#### Answer

In [5]:
a = (55%7)
print(a)

6

### What is 2 raised to the 20th power?

#### Answer

In [7]:
a = 2**20
print(a)

1048576

### Correct the error to make the following line of code return false

In [6]:
a = 'false'

bool(a)

True

#### Answer

In [1]:
a = 'false'

print(not a)

False

### Without deleting anything, make the code return True

In [ ]:
4 > 4

#### Answer

In [7]:
4 >= 4

True

### By only changing one symbol, make the folling code False

In [ ]:
17 <= 24

#### Answer

In [5]:
17 >= 24

False

### Make the following code False by adding a not

In [ ]:
False or True

#### Answer

In [9]:
False or not True

False

### Make the following statement False by adding parentheses

In [ ]:
 False and not False or True and True

#### Answer

In [4]:
print((False and not False or True and True and False))

False

### Change the string to make to boolean false

In [ ]:
bool('a short string')

#### Answer

In [12]:
bool()

False

### Find the sum, using a function of 4, 8, 38, -8, 9

In [4]:
print(sum([4, 8, 38, -8, 9]))

51

In [2]:
def sum(a, b,c ,d ,e):
    return (a+b+c+d+e)
print(sum(4, 8, 38, -8, 9))

51

### Determine the absolute value of 18-27 using a function

In [7]:
def abs(num):
    if (num)>=0:
        return num
    else:
        return num*(-1)
    
abs(18-27)

9

### Find the minimum of 93, 27, 3.5, 19, 487 using a function (not predefined)

In [17]:
print(min(93, 27, 3.5, 19, 487))

3.5

In [9]:
def minimum(a,b,c,d,e):

    ans = a
    if(ans>b):
        ans = b
    if(ans>c):
        ans = c
    if(ans>d):
        ans = d
    if(ans>e):
        ans = e
    return(ans)

minimum(93, 27, 3.5, 19, 487)

3.5

### Find the maximum of 238, 382, 82, 2 using a function

In [18]:
print(max(238, 382, 82, 2))

382

In [11]:
def maximum(a,b,c,d):

    ans = a
    if(ans<b):
        ans = b
    if(ans<c):
        ans = c
    if(ans<d):
        ans = d
    return(ans)

maximum(238, 382, 82, 2)

382